
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


/* Universal overide default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto-serif", serif;
    font-size: 20px;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;

}

.space {
    padding-top: 20px;
    padding-bottom: 20px;

}

.bloodpressure-video {
    padding-top: 20px;
    padding-bottom: 20px;

}

main, section, aside, footer {
    padding: 15px;
}

#logo {
    display:flex;

}


header {
    background-color:whitesmoke;
    position:relative;
    width: 100%;
    display: flex;
    /*z-index: 99; */
    display: flex; 
    justify-content:space-between;
    align-items: baseline;
    color:blue;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    flex: 1 0 auto;
    margin-top: 50px;
}

.hero {
    background-image: url("../images/bloodpressuretesting4.webp");
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-size:cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit:cover;
    


}

.hero h2 {
    font-size: 2.5rem;
    color: orangered;
}

.hero p {
    font-size: 1.5rem;
    color: yellowgreen;
}



.facts {
    background-color: yellowgreen; 
    
}

.technology {
    background: pink;
    border: 1px solid orange
}

.technology li {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.user {
color:blue;
/*padding-top: 20px;
padding-bottom: 20px;*/
display:flex;
flex-direction: column;
}

form {
max-width: 700px;
margin-left: auto;
margin-right: auto;
}


input[type=text], input[type=email], input[type=password] {
    width: 30%;
    margin: 10px 5px;
   /* padding 15px 30px;
    box-sizing: border-box;*/
    height: 20px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}
.textarea {
    display: flex;
    flex-direction: column;

}
.labeltextarea {
    color:blue;
padding-top: 20px;
}
textarea {

 width: 80%;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
    height: 120px;

}

button {
    width: 100px;
    height: 36px;
    border: 2px solid green;
    border-radius: 5px;
    left: 20px;
    background-color: aqua;
    display:block
}

input[type=radio] {
    background-color: blue;
    color:blueviolet;
    width: 1.25rem;
    height: 1.25rem;
   /* border: 0.5 rem solid blueviolet;*/
   display:block
}

.radio {
    color: blue;
}

.members {
    padding-top: 20px;
    padding-bottom: 20px;
    color:#8a2be2
}

.blood {
    padding-top: 20px;
    padding-bottom: 20px;
}

.stroke {
    padding-top: 20px;
    padding-bottom: 20px;
}

p form {
    color: purple;
}

/* Footer */
#social {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    left: 10px;
    z-index: 10;
    padding: 20px;
    gap: 10%
}

#menu {
    list-style-type: none;
    font-size: 1rem;
    gap: 30px;
}

#menu a:hover {
    background-color:snow;
    color: red
}

#menu a {
    padding: 1rem;
    color:#2c3e57;
    font-weight: bold;
    /*border-bottom: 1px solid #666;*/
}

#menu > li {
    margin-bottom: 1em;
}

nav {
    position:absolute;
    background-color: aliceblue;
    width: 100%;
    top: 100%;
    display: flex;
    padding-left: 20px;  

}

nav a {
    text-decoration: none;
}

h1 { font-size: 1.15rem;
    
    

}

/*Media query to include tablets and up*/
@media screen and (min-width:768px) {
    nav {display:block;
        position:relative;
        width:fit-content;
    }

    #menu {
        display: flex;
    }

    .content {
        display: flex;
    }

    .facts {
        flex: 1;
    }

    .technology {
        flex: 0 1 400px;
    }
}


/* Laptop and desktop 992px and up*/
@media screen and (min-width: 992px) {
  #menu a:hover{
    border-bottom: 1px solid blue;
  }  
}