/* Universal overide default styles added by browser */
* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

/*Body style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;

}

.space {
    padding-top: 20px;
    padding-bottom: 20px;

}

.bloodpressure-video {
    padding-top: 20px;
    padding-bottom: 20px;
}

main, section, aside, footer {
    padding: 15px;
}

#logo {

}


header {
    background-color:blanchedalmond;
    position: fixed;
    width: 100%;
    display: flex;
    /*z-index: 99; */
    display: flex; 
    justify-content:space-around;
    align-items: baseline;
    color:blue;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    flex: 1 0 auto;
    margin-top: 50px;
}

.hero {
    background-image: url("../images/bloodpressuretesting4.webp");
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    background-size:cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit:cover;
    


}

.hero h2 {
    font-size: 2.5rem;
    color: orangered;
}

.hero p {
    font-size: 1.5rem;
    color: yellowgreen;
}



.facts {
    background-color: greenyellow;
}

.technology {
    background: pink;
    border: 1px solid orange
}

.user {
color:blue;
padding-top: 20px;
padding-bottom: 20px;
display:flex;
flex-direction: column;
}

input[type=text], input[type=email], input[type=password] {
    width: 50%;
    margin: 10px 5px;
   /* padding 15px 30px;
    box-sizing: border-box;*/
    height: 36px;
    border: 2px solid blue;
    border-radius: 5px;
}
.textarea {
    display: flex;
    flex-direction: column;

}
.labeltextarea {
    color:blue;
padding-top: 20px;
}
textarea {

 width: 100%;
    margin: 10px 5px;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 5px;
}

button {
    width: 100px;
    height: 36px;
    border: 2px solid green;
    border-radius: 5px;
    left: 20px;
    background-color: aqua;
}

input[type=radio] {
    background-color: blue;
    color:blueviolet;
    width: 1.25rem;
    height: 1.25rem;
   /* border: 0.5 rem solid blueviolet;*/
}

.radio {
    color: blue;
}

.members {
    padding-top: 20px;
    padding-bottom: 20px;
    color:#8a2be2
}

.blood {
    padding-top: 20px;
    padding-bottom: 20px;
}

.stroke {
    padding-top: 20px;
    padding-bottom: 20px;
}

p form {
    color: purple;
}

/* Footer */
#social {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    left: 10px;
    z-index: 10;
    padding: 20px;
    gap: 10%
}

#menu {
    list-style-type: none;
    font-size: 1rem;
    gap: 30px;
    


}

#menu > li {
    margin-bottom: 1em;
}

nav {
    position:absolute;
    background-color: aliceblue;
    width: 100%;
    top: 100%;
    display: flex;
    
    

}

h1 { font-size: 1.15rem;
    

}

/*Media query to include tablets and up*/
@media screen and (min-width:768px) {
    nav {display:block;
        position:relative;
        width:fit-content;
    }

    #menu {
        display: flex;
    }

    .content {
        display: flex;
    }

    .facts {
        flex: 1;
    }

    .technology {
        flex: 0 1 400px;
    }
}


/* Laptop and desktop 992px and up*/
@media screen and (min-width: 992px) {
  #menu a:hover{
    border-bottom: 1px solid blue;
  }  
}